/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */
@import "tailwindcss";
@import "tw-animate-css";


/* @font-face {
  font-family: Bricolage;
  url: ("./assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
}

@font-face {
  font-family: DMSans;
  url: ("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
} */
@font-face {
  font-family: "BricolageGrotesque";
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 800;

}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@theme {
  /* COLOR */
  --color-black-900: hsl(243, 96%, 9%);
  --color-black-800: hsl(243, 27%, 20%);
  --color-black-700: hsl(243, 23%, 24%);
  --color-black-600: hsl(243, 23%, 30%);
  --color-black-300: hsl(240, 6%, 70%);
  --color-black-200: hsl(250, 6%, 84%);
  --color-white: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* FONTS */
  --font-sans: "DMSans", sans-serif;
  --font-bri: "BricolageGrotesque", sans-serif;

  /* background image */
  --bg-large: url("/bg-today-large.svg");
  --bg-small: url("/bg-today-small.svg");
}

html,
body {
  font-family: var(--font-sans);
  background-color: hsl(243, 96%, 9%);
}