@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  /* COLOR */
  --color-black-900: #02012c;
  --color-black-800: #262540;
  --color-black-700: #302f4a;
  --color-black-600: #3c3b5e;
  --color-black-300: #acacb7;
  --color-black-200: #d4d3d9;
  --color-white: #ffffff;
  --color-orange-500: #ff820a;
  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;

  /* FONTS */
  --font-sans: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}


html,
body {
  font-family: 'DMSans', sans-serif;
}